{% extends "template.html" %}

{% block content %}
{% include "elements/name.html" %}
{% include "elements/sections.html" %}

{% endblock %}


{% block script %}
<script>
  $("#name").hide().removeClass('d-none');

  function partTwo() {
    $("#sections").hide();
    $("#name").show();
    $("#inputName").focus();
  }
  $("#beavers").click(function () {
    $("#inputSection").val('1');
    partTwo();
  });
  $("#cubs").click(function () {
    $("#inputSection").val('2');
    partTwo();
  });
  $("#scouts").click(function () {
    $("#inputSection").val('3');
    partTwo();
  });

  $("#inputName").on({
    keydown: function (e) {
      if (e.which === 32)
        return false;
    },
    change: function () {
      this.value = this.value.replace(/\s/g, "");
    }
  });

  $("#login").submit(function (event) {
    event.preventDefault();
    if ($("#inputName").val() !== "" && $("#inputName").val().match(/^[A-Za-z0-9]+$/)) {
      $.post("/login", $("#login").serialize())
        .done(function (data) {
          window.location.href = "/";
        })
        .fail(function (err) {
          var e = $(`<div class="alert alert-danger" role="alert">${err}</div>`);
          $("#alerts").html(e);
        });
    } else {
      var e = $('<div class="alert alert-danger" role="alert">Name can only contain letters and numbers.</div>')
      $("#alerts").html(e);
    }
  });
</script>
{% endblock %}