<div class="container">
  {% if user.section == 1 %}
  <h2>Here is a list of Beaver Badges you can work towards online...</h2>
  {% elif user.section == 2 %}
  <h2>Here is a list of Cub Badges you can work towards online...</h2>
  {% else %}
  <h2>Here is a list of Scout Badges you can work towards online...</h2>
  {% endif %}
  <div class="badgelist text-center">
    <div class="row">
      <div class="col-6 col-md-3">
        <div class="badge">
          <img class="img-fluid" src="https://prod-cms.scouts.org.uk/media/1225/activity-sc-pioneer.svg">
          <h5>Pioneer</h5>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="badge">
          <img class="img-fluid" src="https://prod-cms.scouts.org.uk/media/1225/activity-sc-pioneer.svg">
          <h5>Pioneer</h5>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="badge">
          <img class="img-fluid" src="https://prod-cms.scouts.org.uk/media/1225/activity-sc-pioneer.svg">
          <h5>Pioneer</h5>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="badge">
          <img class="img-fluid" src="https://prod-cms.scouts.org.uk/media/1225/activity-sc-pioneer.svg">
          <h5>Pioneer</h5>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="badge">
          <img class="img-fluid" src="https://prod-cms.scouts.org.uk/media/1225/activity-sc-pioneer.svg">
          <h5>Pioneer</h5>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="badge">
          <img class="img-fluid" src="https://prod-cms.scouts.org.uk/media/1225/activity-sc-pioneer.svg">
          <h5>Pioneer</h5>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="badge">
          <img class="img-fluid" src="https://prod-cms.scouts.org.uk/media/1225/activity-sc-pioneer.svg">
          <h5>Pioneer</h5>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="badge">
          <img class="img-fluid" src="https://prod-cms.scouts.org.uk/media/1225/activity-sc-pioneer.svg">
          <h5>Pioneer</h5>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="badge">
          <img class="img-fluid" src="https://prod-cms.scouts.org.uk/media/1225/activity-sc-pioneer.svg">
          <h5>Pioneer</h5>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="badge">
          <img class="img-fluid" src="https://prod-cms.scouts.org.uk/media/1225/activity-sc-pioneer.svg">
          <h5>Pioneer</h5>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="badge">
          <img class="img-fluid" src="https://prod-cms.scouts.org.uk/media/1225/activity-sc-pioneer.svg">
          <h5>Pioneer</h5>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="badge">
          <img class="img-fluid" src="https://prod-cms.scouts.org.uk/media/1225/activity-sc-pioneer.svg">
          <h5>Pioneer</h5>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="badge">
          <img class="img-fluid" src="https://prod-cms.scouts.org.uk/media/1225/activity-sc-pioneer.svg">
          <h5>Pioneer</h5>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="badge">
          <img class="img-fluid" src="https://prod-cms.scouts.org.uk/media/1225/activity-sc-pioneer.svg">
          <h5>Pioneer</h5>
        </div>
      </div>

    </div>
  </div>
</div>