<div id="name" class="container d-none">
  <div class="name">

    <div id="alerts">
      
    </div>

    <form id="login">
      <div class="form-group">
        <label for="inputName"><h1>What is your name?</h1></label>
        <input type="text" class="form-control form-control-lg text-center" id="inputName" maxlength="70" aria-describedby="nameHelp"
          placeholder="Baden Powell" name="name" autofocus="autofocus" >
          <input type="hidden" id="inputSection" name="section">
        <small id="nameHelp" class="form-text text-muted">This has to be unqiue. So you can track your progress</small>
      </div>
      <button id="loginSubmit" class="btn btn-primary btn-lg">Next</button>
    </form>

  </div>
</div>