<div id="sections" class="container">
  <div class="sections">

    <h1>Which section do you go to?</h1>

    <div class="area">
      <div class="container">
        <div class="row">
          <div class="col-md">
            <div id="beavers" class="section beavers">
              <img src="https://scouts.org.uk/img/logos/logo-beavers.svg" class="responsive">
            </div>
          </div>
          <div class="col-md">
            <div id="cubs" class="section cubs">
                <img src="https://scouts.org.uk/img/logos/logo-cubs.svg" class="responsive">
            </div>
          </div>
          <div class="col-md">
            <div id="scouts" class="section scouts">
                <img src="https://scouts.org.uk/img/logos/logo-scouts.svg" class="responsive">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>